.tourPage_tourImage {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
}

.goback_button {
  position: absolute;
  text-align: left;
  top: 136px;
  left: 120px;
  font-size: 18px;
}

.tourPage {
  width: 1440px;
  color: black;
  display: flex;
  flex-direction: column;
}

.tour_card {
  position: absolute;
  top: 617px;
  height: 888px;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 120px;
  border-radius: 3rem 3rem 0rem 0rem;
  background-color: #ffffff;
}

.tour_name {
  font-size: 4rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 1.7rem;
}

.tour_location {
  display: flex;
  width: 8.7rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.tour_location_land {
  font-size: 1rem;
  font-weight: 500;
}

.tour_desc h3{
  margin-bottom: 1rem;
}

.tour_desc_text {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.tour_desc{
  margin-bottom: 3rem;
}

.tour_bottom {
  margin-top: 18rem;
}

.tour_bottom button {
  width: 100%;
  text-align: center;
  align-items: center;
}

.tour_comments h3{
margin-bottom: 1rem;
}