.comment_top {
  display: flex;
  align-items: center;
  text-align: center;
}

.comment_top img {
  width: 24px;
  height: 24px;
}

.comment_top p {
  margin-left: 1rem;
}

.comment_text {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
