@import url("https://fonts.cdnfonts.com/css/satoshi");

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #6a62b7;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(#d0cbff, 30%, #ffffff);
  font-family: "Satoshi", sans-serif;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 14rem;
  height: 3.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  border-radius: 6.25rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #6a62b7;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #514a8f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-family: "Satoshi";
  font-size: 6rem;
  font-weight: 700;
  text-align: left;
  color: #141414;
}

h2 {
  font-family: "Satoshi";
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  color: #141414;
}

h3 {
  font-family: "Satoshi";
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: #141414;
}
