@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Light.woff") format("woff"),
    url("./fonts/Satoshi-Light.woff2") format("woff2"),
    url("./fonts/Satoshi-Medium.woff") format("woff"),
    url("./fonts/Satoshi-Medium.woff2") format("woff2"),
    url("./fonts/Satoshi-Regular.woff") format("woff"),
    url("./fonts/Satoshi-Regular.woff2") format("woff2");
}
:root {
  font-family: "Satoshi";
  line-height: 1.5;
  font-weight: medium;

  color-scheme: light dark;
  color: #141414;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
}
