@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
  font-family: "Satoshi", sans-serif;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #002fff;
}
a:hover {
  color: #0a15b5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #6a62b7;
}

button {
  width: 14rem;
  height: 3.5rem;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  justify-content: space-between;
  font-weight: 500;
  border-radius: 6.25rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #6a62b7;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #514a8f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-family: "Satoshi";
  font-size: 6rem;
  font-weight: 700;
  text-align: left;
  color: #141414;
}
h2 {
  font-family: "Satoshi";
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  color: #141414;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
