.homePage {
  height: 2500px;
  color: black;
  box-sizing: border-box;
  padding: 0px 120px;
}

.greeting {
  display: flex;
  height: 778px;
  justify-content: space-between;
  align-items: center;
}

.greeting_img {
  width: 445px;
  height: 350px;
}

.greeting_info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.greeting_text {
  width: 31rem;
  font-family: "Satoshi";
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.descover_top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.discover_slider_tab {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 53%;
  font-size: 1.1rem;
  color: #141414;
  margin-bottom: 4rem;
}

.discover_slider_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.discover_slider_card {
  width: 384px;
  height: 290px;
  background-image: url(../../assets/CardImage.png);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.discover_slider_card_title{
  height: 70px;
  background-color: #888888;
  color: #ffffff;
  opacity: 0.7;
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  border-radius: 0px 0px 20px 20px;
}

.recommended_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommended_card {
  width: 282px;
  height: 282px;
  background-image: url(../../assets/recommended_image.jpeg);
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
