.homePage {
  height: 2500px;
  color: black;
  box-sizing: border-box;
}

.greeting {
  display: flex;
  background: linear-gradient(#d0cbff, 30%, #ffffff);
  height: 778px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}

.greeting_img {
  width: 445px;
  height: 350px;
}

.greeting_info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.greeting_info button {
  width: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting_text {
  width: 31rem;
  font-family: "Satoshi";
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.discover_section {
  padding: 0px 120px;
}

.descover_top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.discover_slider_buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.discover_slider_buttons button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 0rem;
  font-weight: 0;
  border-radius: 50%;
  border: none;
  padding: 0em 0em;
  background-color: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.discover_slider_tab {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 53%;
  font-size: 1.1rem;
  color: #141414;
  margin-bottom: 4rem;
}

.discover_slider_tab_button {
  color: #6a62b7;
  font-weight: 700;
}

.discover_slider_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.recommended_section {
  padding: 0px 120px;
  margin-bottom: 4rem;
}

.recommended_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1439px) {
  .discover_slider_cards {
    justify-content: space-around;
  }
}
