.homePage {
  width: 100%;
  height: 100%;
  color: black;
  box-sizing: border-box;
}

.greeting {
  display: flex;
  background: linear-gradient(#d0cbff, 30%, #ffffff);
  height: 778px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7.5rem;
  margin-bottom: 0rem;
}

.greeting_img {
  width: 445px;
  height: 350px;
  background-image: url(../../assets/Winter.svg);
}

.greeting_info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.greeting_info h1 {
  margin-bottom: 5rem;
}

.greeting_info button {
  width: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting_text {
  width: 31rem;
  font-family: "Satoshi";
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.discover_section {
  padding: 0px 7.5rem;
  margin-bottom: 8rem;
}

.discover_top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.discover_slider_buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.discover_slider_buttons button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 0rem;
  font-weight: 0;
  border-radius: 50%;
  border: none;
  padding: 0em 0em;
  background-color: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

.discover_slider_tab {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 60%;
  font-size: 1.1rem;
  color: #141414;
  margin-bottom: 3rem;
  cursor: pointer;
}

.discover_slider_tab_active_tab {
  color: #6a62b7;
  font-weight: 700;
}

.discover_slider_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.recommended_section {
  padding: 0px 7.5rem;
  margin-bottom: 4rem;
}

.recommended_section h2 {
  margin-bottom: 4rem;
}

.recommended_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media screen and (width <426px) {
  .greeting_img {
    width: cover;
    height: 70vh;
    background-size: cover;
    background-image: url(../../assets/Winter.png);
  }

  .greeting {
    flex-direction: column-reverse;
    height: 100vh;
    padding: 0;
    background: none;
  }

  .greeting_text,
  h1 {
    padding: 0 0 0 1rem;
  }

  .greeting_text,
  .letsgo_button {
    font-size: 1rem;
    font-weight: 400;
  }

  .greeting_info {
    box-sizing: border-box;
    padding-top: 2rem;
  }

  .greeting_info h1 {
    margin-bottom: 1rem;
    font-weight: 900;
  }

  .greeting_text {
    width: 74%;
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  .letsgo_button {
    margin-left: 1rem;
    width: 2rem;
  }

  .discover_section,
  .recommended_section {
    padding: 0 1rem;
  }

  .discover_slider_cards {
    align-items: center;
  }

  .discover_slider_tab {
    width: 100%;
  }
}
